---
import "../styles/common.css";
import Section from '../layouts/Section.astro';
import Timer from '../components/Timer.astro';
import Card from '../components/Card.astro';
import MainLayout from "../layouts/MainLayout.astro";

const text = 
`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula dolor non justo ornare suscipit. Nunc aliquet turpis sed posuere ultrices. Vivamus lorem sapien, viverra eget ullamcorper sed, efficitur eu ipsum. Donec eleifend dolor et elit lacinia, in facilisis ipsum euismod. Aliquam erat volutpat. Proin accumsan tempus tristique. Aliquam pretium eros et est sagittis congue. Nam pulvinar sem id leo mollis, vulputate porttitor augue hendrerit. Etiam vulputate neque sed posuere tempus. Donec dapibus augue quis nisl aliquet ultricies. Nulla finibus augue ac ultrices porttitor.`
---

<html lang="it">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lan Party | Home</title>
	</head>
	<body>
		<MainLayout header="">
			<Section bg_color="rgb(140,120,150)">
				<h1>LAN Party</h1>
				<p>2023-2024</p>
			</Section>
	
			<Section bg_color="lightgray">
				<Timer/>
			</Section>
	
			<Section>
				<Card articleName="Lorem Ipsum" paragraphText=`${text}`/>
			</Section>
		</MainLayout>

		<style>
			.test{/*class handy for testing*/
				background-color: aqua;
				border: solid black 3px;
			}
			@media screen and (max-width: 992px) {}
		</style>
	</body>
</html>
