---

---

<footer>
  <p>&copy; all rights reserved</p>
  <p>Sito fatto dagli studenti del Marconi</p>
</footer>

<style>
	footer {
		height: 50px;
		width: 100%;

		/* Accomodate for floating navbar */
		margin: 0 0 2em 0;

		background-color: var(--bg-body-secondary);

		display: flex;
		justify-content: center;
		align-items: center;
	}

	@media screen and (min-width: 37.5rem) {
		/* No navbar, so no margin */
		footer {
			margin: 0;
		}
	}
</style>
