---
---

<footer>
  <p>&copy; all rights reserved</p>
  <p>Sito fatto dagli studenti del Marconi</p>
</footer>

<style>
  footer {
    height: 50px;
    width: 100%;

    background-color: var(--bg-body-tertiary);

    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
