<footer>
    <p>©️ all rights reserved</p>
</footer>

<style>
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        
        display: flex;
        justify-content: center;
        align-items: center;

        height: 50px;
        width: 100%;

        font-weight: bolder;
        font-family: 'Roboto', sans-serif;
        color: whitesmoke;
        background-color: rgba(0, 48, 87, 0.308);
    }
</style>