<div id="timer">
    <span>
        <div class="time"></div>
        <div class="unit">DAYS</div>
    </span>

    <span>
        <div class="time"></div>
        <div class="unit">HOURS</div>
    </span>
    
    <span>
        <div class="time"></div>
        <div class="unit">MINUTES</div>
    </span>

    <span>
        <div class="time"></div>
        <div class="unit">SECONDS</div>
    </span>
</div>

<script>
    const eventDate = new Date('23 May, 2024 22:15');

    function countDown(callback){
        //aggiorno prima perchè altrimenti non mostra nulla
        let timeLeft=eventDate.getTime()-((new Date()).getTime());
        callback(msToTime(timeLeft));

        setInterval(()=>{
            //continuo ad aggiornare
            timeLeft=eventDate.getTime()-((new Date()).getTime());
            callback(msToTime(timeLeft));
        }, 1000);
    }

    function saveTimeLeft(timeLeft){
        const time = timeLeft.split(":");
        const times = document.getElementsByClassName("time");

        for(let i=0; i<time.length; i++){
            times[i].innerHTML=(time[i].length==1 ? "0" : "")+time[i];
        }
    }

    function msToTime(ms) {
        let days = Math.floor(ms / (1000 * 60 * 60 * 24));
        let hours = Math.floor((ms % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor((ms % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((ms % (1000 * 60)) / 1000);

        return days + ":" + hours + ":"  + minutes + ":" + seconds;
    }

    countDown(saveTimeLeft);
</script>
<style>
    #timer {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.time {
    font-size: 2.7em;
    text-align: center;
    background-color: #FF6B6B;
    color: #fff;
    padding: 5px 15px;
    border-radius: 35px;
    animation: scaleUp 0.8s ease-in-out infinite alternate, colorChange 5s infinite linear;
}

.unit {
    margin-top: 8px;
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes colorChange {
    0% {
        background-color: #ec4f54;
    }
    25% {
        background-color: #d6ff66;
    }
    50% {
        background-color: #06D6A0;
    }
    75% {
        background-color: #118AB2;
    }
    100% {
        background-color: #73197b;
    }
}

@media screen and (max-width: 992px) {
    .time {
        font-size: 1.7em;
        padding: 8px 16px;
    }

    .unit {
        font-size: 1.8em;
    }
}

</style>
