---
const {bg_color} = Astro.props;
---
<section>
    <slot/>
</section>

<style define:vars={{bg_color}}>

    section{
        height: 100vh;
        
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        background-color:var(--bg_color);
        border:solid 3px black;/*used for debugging*/
    }
</style>