html, body {
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
	
	/* mobile first... */
	height: 100svh;
	height: 100vh;
}

body{
    width: 100%;
    height: 100%;

	color: var(--fg-text-primary);
	background-color: var(--bg-body-primary);
}


* {
    font-family: sans-serif;
    font-weight: medium;
}

*::selection {
	/* TODO Find suitable colors for the palette
	 color: var(--fg-text-selected);
	 background-color: var(--bg-selected); */

	 /* temporary*/
	color: var(--fg-text-secondary);
	background-color: var(--bg-body-secondary);

	/* previous
    color: #debeff;
    background-color: #5c469ccb; */
}