*{
    padding:0;
    margin:0;
}

body{
    width: 100%;
    height: 100vh;
}

*::selection{
    color: #debeff;
    background-color: #5c469ccb;
}
img::selection{
    background-color: transparent;
}