/* TODO
 : - Change pixel measurements to make use of rem
 : - Set max text width < 45ch (for readability)
 */

:root {
	/* As a reminder that rem units are multiples of the root font-size */
	/* font-size: 16px; */

    font-family: sans-serif;
    font-weight: medium;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
	
	/* mobile first... */
	height: 100svh;
	height: 100vh;
}

body{
    width: 100%;
    height: 100%;

	color: var(--fg-text-primary);
	background-color: var(--bg-body-primary);
}

*::selection {
	/* TODO Find suitable colors for the palette */
	/* color: var(--fg-text-selected); */
	/* background-color: var(--bg-selected); */

	/* temporary*/
	color: var(--fg-text-secondary);
	background-color: var(--bg-body-secondary);

	/* previous
    color: #debeff;
    background-color: #5c469ccb; */
}