:root {
	/* ? COLORS */

	/* foreground */
	--fg-primary:		rgb(255, 255, 255);
	--fg-secondary:		rgb(120, 138, 163);

	--fg-text-primary:		rgb(217, 217, 217);
	--fg-text-secondary:	rgb(130, 140, 153);

	/* background */
	--bg-body-primary:		rgb(51, 45, 45);
	--bg-body-secondary:	rgb(64, 56, 58);
	--bg-body-tertiary: 	rgb(77, 68, 70);

	/* tint */
	--_tint-primary:		rgb(252, 254, 189);


	/* ? MATERIALS */

	/* opacities */
	--_material-thin: 0.2;
	--_material-thick: 0.6;
	--_material-regular: 1.0;
}