---
import Menu from "../components/Menu.astro";
import Timer from "../components/Timer.astro";
import Card from "../components/Card.astro";

const text = 
`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula dolor non justo ornare suscipit. Nunc aliquet turpis sed posuere ultrices. Vivamus lorem sapien, viverra eget ullamcorper sed, efficitur eu ipsum. Donec eleifend dolor et elit lacinia, in facilisis ipsum euismod. Aliquam erat volutpat. Proin accumsan tempus tristique. Aliquam pretium eros et est sagittis congue. Nam pulvinar sem id leo mollis, vulputate porttitor augue hendrerit. Etiam vulputate neque sed posuere tempus. Donec dapibus augue quis nisl aliquet ultricies. Nulla finibus augue ac ultrices porttitor.`
---

<html lang="it">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Menu />
		<Timer/>
		<h1>Astro</h1>

		<Card articleName="Hola" imgPath="/favicon.svg" paragraphText={text}></Card>
		<style>
  		@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
			*{
				margin:0;
				padding:0;
				box-sizing: border-box;
				font-family: 'Roboto', sans-serif;
			}
			body {
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 100vh;
				
				background-image: linear-gradient(#0E2954, #1F6E8C);
				/*background-image: url(https://wallpapers.com/images/featured/darkest-dungeon-39a8qdmzub42ebwv.jpg);*/
				background-repeat: no-repeat;
				
			}
			@media screen and (max-width: 992px) {
				body {
					
				}
			}
		</style>
	</body>
</html>
